<%=form_for([@comment.photo, @comment]) do |f| %>

<div class="edit-comment">
   <%= f.text_field :content, :class =>"form-control form-control-lg" %>
   <%= f.submit 'Update comment', :class=>"btn btn-outline-primary" %>
</div>
<% end %>
