body {
  font-family: 'Noto Sans JP', sans-serif;


}

.container {
    text-align: center;

    background-color: pink;
    margin: 0 auto;
    width:100%;
}

nav {
  text-align: center;
  font-size: 20px;
  font-family: 'Lobster Two', cursive;
}

.thumb {
  height: 12em;
  width: 12em
}

.feature {
  height: 14em;
  width: 14em
}

.comment_controls {
  display:inline;
}

#title{
 text-align: center;
 color:black;
 font-size: 65px;
 font-family: 'Lobster Two', cursive;
}
